.article__container {
  margin: 24px auto;
  width: 88vw;
  border: 1px solid rgba(255, 255, 255, 0.200);
  display: flex;
  height: 260px;
  border-radius: 8px;
}

.article__section-image {
  border-radius: 8px;
}

.article__section-image img {
  object-fit: cover;
  width: 350px;
  height: 100%;
  border-radius: 8px 0 0 8px;
  border-right: 1px solid rgba(255, 255, 255, 0.200);
}

.article__section-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 24px 18px;
}

.article__section-footer {
  display: flex;
  justify-content: space-between;
}

.article__section-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  background-color: #3077b5;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
}

.article__section-social img {
  width: 2vw;
  background-color: #3077b5;
}

@media screen and (max-width: 998px) {
  .article__container {
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    margin-bottom: 45px;
  }

  .article__section-image {
    width: 100%;
    border-radius: 8px 8px 0 0;
  }

  .article__section-image img {
    width: 88vw;
    height: 30vh;
    border-radius: 8px 8px 0 0;
  }

  .article__section-social {
    border-radius: 0 0 8px 8px;
  }

  .article__section-social img {
    transform: rotate(90deg);
  }

  .article__section-footer {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}