
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');

* {
  background-color: #282c34;
  color: white;
  font-family: 'Noto Sans JP', sans-serif;
}

a {
  text-decoration: none;
}
